<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.homin.rental.dao.RentalDAO">
	<select id="selectCategory" parameterType="String" resultType="com.care.homin.rental.dto.RentalDTO">
		SELECT * FROM homin_product WHERE classification=#{category}
	</select>
	
	<select id="selectProduct" parameterType="String" resultType="com.care.homin.rental.dto.RentalDTO">
		SELECT * FROM homin_product WHERE product_no=#{prodNo}
	</select>
	
	<insert id="orderHistoryProc" parameterType="com.care.homin.rental.dto.orderDTO">
		INSERT INTO homin_order VALUES(#{uid},#{name},#{email},#{tell},#{addr},#{postcode},#{productName},#{amount},#{buyer_id},#{productImg},#{classification},#{product_no},#{order_date})
	</insert>
	
	<select id="selectOrderHistory" parameterType="String" resultMap="order">
		SELECT * FROM homin_order WHERE imp_uid=#{no}
	</select>
	
	<select id="selectProductImg" parameterType="String" resultType = "String">
		SELECT product_filename FROM homin_product WHERE product_name =#{productName}
	</select>
	
	<select id="selectClassification" parameterType="String" resultType = "String">
		SELECT classification FROM homin_product WHERE product_name =#{productName}
	</select>
	
	<resultMap type="com.care.homin.rental.dto.orderDTO" id="order">
		<result property="uid" column="IMP_UID"/>
		<result property="email" column="BUYER_EMAIL"/>
		<result property="addr" column="BUYER_ADDR"/>
		<result property="postcode" column="BUYER_POSTCODE"/>
		<result property="name" column="BUYER_NAME"/>
		<result property="tell" column="BUYER_TELL"/>
		<result property="amount" column="PRODUCT_AMOUNT"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="buyer_id" column="BUYER_ID"/>
		<result property="productImg" column="PRODUCTIMG"/>
		<result property="product_no" column="product_no"/>
		<result property="order_date" column="order_date"/>
	</resultMap>
	
	<update id="productUpHit" parameterType="String" >
		UPDATE homin_product SET hit=hit+1 WHERE product_no=#{product_no}
	</update>
	
	<select id="selectTopViews" parameterType="String" resultType = "com.care.homin.rental.dto.RentalDTO">
		SELECT * FROM (SELECT * FROM homin_product order by hit desc) <![CDATA[ WHERE ROWNUM <= 4]]> 
	</select>
	
	<update id="upOrderCount" parameterType="String" >
		UPDATE homin_product SET ordercount=ordercount+1 WHERE product_no=#{product_no}
	</update>
	
	<select id="selectOrderCount" parameterType="String" resultType = "com.care.homin.rental.dto.RentalDTO">
		SELECT * FROM (SELECT * FROM homin_product order by ordercount desc) <![CDATA[ WHERE ROWNUM <= 4]]> 
	</select>
	
	<delete id="cancleOrder" parameterType="String">
		DELETE FROM homin_order WHERE IMP_UID=#{uid}
	</delete>
	
	<delete id="deleteProduct" parameterType="String">
		DELETE FROM homin_product WHERE product_no=#{no}
	</delete>
	
	<insert id="productInsert" parameterType="com.care.homin.rental.dto.RentalDTO">
		INSERT INTO homin_product VALUES(#{product_no}, #{product_name}, #{product_filename}, #{classification}, #{price}, #{hit}, #{orderCount})
	</insert>
	
	<update id="productModify" parameterType="com.care.homin.rental.dto.RentalDTO" >
		UPDATE homin_product SET product_name=#{product_name}, classification=#{classification}, price=#{price} WHERE product_no=#{product_no}
	</update>
	
	<select id="categorySales" parameterType="String" resultMap = "order">
		SELECT * FROM homin_order where classification = #{category} 
	</select>
	
	<select id="productPrice" parameterType="String" resultType = "com.care.homin.rental.dto.RentalDTO">
		SELECT product_name, price, ordercount FROM homin_product where classification = #{category} 
	</select>
	
	<select id="salesByYear" parameterType="String" resultMap = "order">
		SELECT * FROM homin_order where order_date LIKE '%'||#{year}||'%'
	</select>
	
	<update id="productImgModify" parameterType="com.care.homin.rental.dto.RentalDTO" >
		UPDATE homin_product SET product_filename=#{product_filename} WHERE product_no=#{product_no}
	</update>
	
	<update id="cancleOrderCount" parameterType="String" >
		UPDATE homin_product SET ordercount=ordercount-1 WHERE product_name=#{productName}
	</update>

</mapper>