@charset "utf-8";

/* mypageform*/

.right-wrap-part{
/* 	margin-top: 50px;     */
    display: flex;
/* 	border: 1px solid #ddd; */
	flex-direction: column;
    width: 900;
    height: 100%;
    border-radius: 4px;
}
.right-wrap-part-inside{
	padding: 20px;
/*     width: 900px; */
    height: 160px;
    background: #eee;
    border-radius: 4px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    align-items: center;
    justify-content: flex-start;
    /* text-align: center; */
    display: flex;
    
}
.mypage_wrap{
	width: 1240px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.recent_product{
	border-bottom: 1px solid #ddd; 
	line-height: 58px;
    font-weight: 700;
    font-size: 18px;
}
.recent_product h3{
	margin: 0 20px;
}

.recent_product_comment{
	
	font-size: 15px;
    border-top: 1px solid #ddd;
    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
}
.warning_view{
	
	margin: 0 auto;
    padding: 50px;
}
.warning_view img{
	height: 70px;
}

.warning_view__comment{
	line-height: 1.48;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.mypage_recent_productlist{
	width: 95%;
    display: flex;
/*     justify-content: space-between; */
/*     align-items: center; */
    border: 2px solid #eee;
    margin: 0 auto;
    /* background: #eee; */
    margin: 20px;
    border-radius: 10px;
        box-shadow: 0px 1px 5px 2px rgb(234 235 239 / 80%);
}
.mypage_recent_productlist img{
	
    /* border: 3px solid #ddd; */
    margin: 15 20px;
    border-radius: 10px;
}

.mypage_recent_productlist_text{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
}

/*mypageNav*/

.mypage_main_wrap{
	text-align: center;
	
}
.mypage_main_image{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.bascket_test{
	margin: 100 0px;
}
.mypage_aside_wrap{
	margin-right: 25px;
	width: 240px;
    padding: 30px 25px 18px;
    border-radius: 4px;
    border: 1px solid #dadce0;
    box-shadow: 0 2px 4px 0 rgb(63 71 77 / 6%);
}

.mypage_aside_wrap img{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.mypage_aside_nav{
	font-weight: 700;
	line-height: 40px;
}
.mypage_aside_nav p {
	font-size: 22;
    line-height: 2.5;
}
.mypage_aside_nav ul{
	margin: 8px 0 34px;
	font-size: 20;
	font-weight: 560;
}
.mypage_aside_nav li{
	line-height: 1.5;
    padding: 6px 0;
}

/*회원관리정보폼*/
.text-wrap{
	width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-weight: 700;
    font-size: 16px;
}

.member_management_btn{
	display: flex;          
	margin: 20px 0 20 20px;
	justify-content: center;
}

.member_management_input{
	width: 78;
    height: 34;
    font-size: 15;
    font-weight: 600;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #00a9b4;
    border: 2px solid #00a9b4;
}
.member_management_search{
	width: 78;
    height: 38;
    font-size: 15;
    font-weight: 600;
    border-radius: 4px;
    margin-left: 5px;
    color: #FFFFFF;
    background-color: #00a9b4;
    border: 2px solid #00a9b4;
}

.member_management_input_bot{
	width: 78;
    height: 34;
    font-size: 15;
    font-weight: 600;
    border-radius: 4px;
	background-color: white;
    border: 2px solid #00a9b4;
    color: #00a9b4;
}

/*updateMbForm*/

.member_modi_wrap{
	display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3;
}

.member_modi_text{
	color: rgb(86, 196, 196);
    font-weight: bold;
  
}

.member_modi_input{
	height: 30px;
    margin-left: 50px;
    border: 1.5px solid #ddd;
    border-radius: 4px;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
}

.member_modi_btn{
	width: 150;
	margin-right: 15px;
    color: #FFFFFF;
    background-color: rgb(86, 196, 196);
    padding: 12px 0;
    font-size: 15;
    height: 30px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
}
.member_modi_btnn{
	width: 150;
    color: rgb(86, 196, 196);
    background-color: white;
    padding: 12px 0;
    font-size: 15;
    height: 30px;
    border-radius: 4px;
    border: 2px solid rgb(86, 196, 196);
    font-weight: 600;
	
}

/*updateAdForm*/

.addre_modi_input{
	height: 40px;
    border: 1.5px solid #ddd;
    border-radius: 4px;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
}

/*basketform*/

.basket_navbar{
	display: flex;
    font-size: 13px;
    line-height: 48px;
    color: #222;
    border-bottom: 2px solid #ddd;
    justify-content: space-around;
    align-items: center;
    background: #f6f6f6;
    font-weight: 600;
}
.basket_component{
	width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ddd;
    margin: 10 0px;
}

/*myinquiryform*/
.recent_product_no{
	margin: 0 auto;
	line-height: 58px;
    font-weight: 700;
    font-size: 18px;
}

.myinquiry_tr{
	width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50;
}

.myinquiry_td_a {
	width: 490px;
    margin: 5px;
}

.myinquiry_td_b{
	width: 140px;
    margin: 5px;
}

.myinquiry_td_c{
	width: 140px;
    margin: 5px;
}