@charset "utf-8";

/*후기게시판*/
.board_wraps {
  width: 1200px;
  margin: -40 auto;
}


.board_title {
  margin-bottom: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 70px;
  padding-bottom: 66px;
  text-align: center;
    background: rgb(247, 248, 250);
}

.board_title strong {
  font-size: 3rem;
  
}

.board_title p {
  margin-top: 5px;
  font-size: 1.4rem;
  padding : 30px;
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
}

.board_list {
  width: 100%;
  border-top: 2px solid #000;
}

.board_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
  font-weight: bold;
  display: flex;
  justify-content: normal;
  align-items: center;
}

.board_list > div.top {
  border-bottom: 1px solid #999;
}

.board_list > div:last-child {
  border-bottom: 1px solid #000;
}

.board_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

.board_list > div.top > div {
  font-weight: 600;
}

.board_list .num {
  width: 120px;
}

.board_list .photo {
  width: 150px;
}

.board_list .title {
  width: 360px;
  text-align: center;
}

.board_list .top .title {
  text-align: center;
}

.board_list .star {
  width: 156px;
  display:flex;
  align-items: center;
  justify-content:center;
  size: 50px;
  text-align: left;
}

.board_list .star img {
  height:25px;
} 



.board_list .writer {
  width: 120px;
}

.board_list .date {
  width: 150px;
}

.board_list .count {
  width: 60px;
}

.board_list .delete{
	width: 84px;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    line-height: 21px;
}

.board_list .delete_btn{
	width: 84px;

    height: 40px;
    border: 1.5px solid #ddd;
    border-radius: 4px;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 17px;
    line-height: 21px;
}

.board_row {
  display: flex;
  justify-content: center;
  align-items 	: center;
  margin :50px;
}

.board_row a{
    line-height: 1.625rem;
    font-size: 24px;
    text-align: center;
    color: white;
    margin: 10px;
/*     border: 3px solid #00a9b4; */
    border-radius: 20px;
    padding: 4 10;
/*     background-color: #00a9b4; */
}

.board_row_bottom {
	margin : 10px;
	display :flex;
	justify-content : space-between;
	align-items : center; 
}

.review_underbar_1{
	width: 100px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 6px;
}
.review_underbar_2{
    height: 35px;
    border-radius: 6px;
    width: 200px;
    border: 2px solid #ddd;
}
.review_underbar_3{
	width: 80px;
    height: 35px;
    border-radius: 6px;
    border: 2px solid #ddd;
}
/* board_delete form */
.board_delete_loginck{
	border : 1px solid grey;
}
