<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.homin.servicecenter.dao.ServicecenterDAO">

	<resultMap type="com.care.homin.servicecenter.dto.NoticeDTO" id="notice">
		<result column="division" property="division" />
		<result column="title" property="title" />
		<result column="writedate" property="writedate" />
		<result column="no" property="no" />
		<result column="content" property="content" />
	</resultMap>
	
	<select id = "allNotice"  resultMap="notice">
		SELECT * FROM notice
	</select>
	<select id = "selectNotice"   resultMap="notice" parameterType="int">
		SELECT * FROM notice WHERE no=#{no}
	</select>
	
	<insert id="writeNotice" parameterType="com.care.homin.servicecenter.dto.NoticeDTO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT nvl(max(no), 0)+1 FROM notice
		</selectKey>					
		INSERT INTO notice VALUES(#{division}, #{title}, #{writedate}, #{no}, #{content})
	</insert>
	
	<delete id="deleteNotice" parameterType="String">
		DELETE FROM notice WHERE no=#{no}
	</delete>
	
	<update id="modifyNotice" parameterType="com.care.homin.servicecenter.dto.NoticeDTO">
		UPDATE notice SET division=#{division}, title=#{title}, content=#{content}, writedate=#{writedate} WHERE no=#{no}	
	</update>
</mapper>